@use 'partials/general';

main {
  display: flex;
  flex-flow: row nowrap;
}

#containerY {
  display: flex;
  flex-flow: column nowrap;
}

#solcontainer {
  overflow: scroll;
  scroll-snap-type: y mandatory;
  overflow: hidden;
}

#solcontainer #sol {
  width: 100vw;
  background-color: general.$bg-color;
  scroll-snap-align: end;
}

#containerX {
  display: flex;
  flex-direction: row;
  width: calc(500vw - 1vw);
  overflow: scroll;
  height: 97vh;
  scroll-snap-type: x mandatory;
  perspective: 2px;
  scroll-behavior: smooth;
}

#punkter {
  height: 3vw;
}

section {
  font-size: 40rem;
}

#containerX #stearinlys {
  background-color: hotpink;
  width: 100vw;
  scroll-snap-align: end;
}

<<<<<<< HEAD
.stearincontainer {
  height: 100vh;
  width: 100vw;
  background-color: blue;
=======
#containerX #stearin {
  height: 50vh;
>>>>>>> 0bce49bcd77ec2454ad4619f973c6885fc7fd9a0
}

#containerX #lampe {
  background-color: tomato;
  width: 100vw;
  scroll-snap-align: end;
}

#containerX #arbejdsdag {
  background-color: greenyellow;
  width: 100vw;
  scroll-snap-align: end;
}

#containerX #timessquare {
  background-color: orange;
  width: 100vw;
  scroll-snap-align: end;
}

.scenelampe {
  height: 100vh;
}
