@use 'partials/general';

main {
  display: flex;
  flex-flow: row nowrap;
}

#containerY {
  display: flex;
  flex-flow: column nowrap;
}

#solcontainer {
  overflow: scroll;
  scroll-snap-type: y mandatory;
  overflow: hidden;
}

#solcontainer #sol {
  width: 100vw;
  background-color: general.$bg-color;
  scroll-snap-align: end;
}

#containerX {
  display: flex;
  flex-direction: row;
  width: calc(500vw - 1vw);
  overflow: scroll;
  scroll-snap-type: x mandatory;
  perspective: 2px;
  scroll-behavior: smooth;
  background-color: general.$bg-color;
  overflow-y: hidden; /* Hide vertical scrollbar */
  height: 55vw;
}

#punkter {
  padding-top: 5vw;
  height: 15vw;
  background-color: general.$bg-color;
  color: white;
  display: flex;
  justify-content: center;
}

#punkter a:visited {
  color: white;
}

#punkter a {
  color: white;
  padding: 25px;
}

section {
  font-size: 40rem;
}

#containerX #stearinlys {
  background-color: general.$bg-color;
  width: 100vw;
  scroll-snap-align: end;
  height: 55vw;
}

.stearincon {
  width: 100vw;
  // background-color: general.$bg-color;
  background-color: general.$bg-color;
  display: flex;
  justify-content: center;
  height: 55vw;
}

#containerX #stearin {
  width: 40vw;
}

.lampecon {
  width: 100vw;
  background-color: general.$bg-color;
  display: flex;
  justify-content: center;
  height: 55vw;
}

#containerX .lampescene {
  width: 40vw;
}

.arbejdecon {
  width: 100vw;
  background-color: general.$bg-color;
  display: flex;
  justify-content: center;
}

#containerX .arbejdescene {
  width: 40vw;
}

.timescon {
  width: 100vw;
  background-color: general.$bg-color;
  display: flex;
  justify-content: center;
  height: 55vw;
}

#containerX .timesscene {
  width: 50vw;
}

#containerX #arbejdsdag {
  background-color: greenyellow;
  width: 100vw;
  scroll-snap-align: end;
  height: 55vw;
}

#containerX #timessquare {
  background-color: orange;
  width: 100vw;
  scroll-snap-align: end;
  height: 55vw;
}

#containerX #lampe {
  background-color: orange;
  width: 100vw;
  scroll-snap-align: end;
  height: 55vw;
}

// .scenelampe {
//   height: 100vh;
// }

rect.times0 {
  fill: rgb(10, 10, 10);
  stroke: rgb(10, 10, 10);
}
