@use 'partials/general';

body {
  margin: 0;
  font-family: general.$font;
}

main {
  display: flex;
  flex-flow: row nowrap;
}

#containerY {
  background-color: general.$bg-color;
  flex-flow: column nowrap;
  scroll-behavior: smooth;
}

.solcontainer {
  display: flex;
  justify-content: center;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.sol {
  width: 100%;
  height: 100%;
  scroll-snap-align: end;
  transform: scale(5);
}
#containerX {
  display: flex;
  flex-direction: row;
  width: calc(500vw - 1vw);
  overflow: scroll;
  scroll-snap-type: x mandatory;
  perspective: 2px;
  scroll-behavior: smooth;
  background-color: general.$bg-color;
  overflow-y: hidden;
  height: 75vh;
  padding-top: 5vw;
}

#punkter {
  padding-top: 5vw;
  height: 15vw;
  background-color: general.$bg-color;
  color: white;
  display: flex;
  justify-content: center;
}

#punkter a:visited {
  color: white;
}

#punkter a {
  color: white;
  padding: 25px;
  padding-top: 0;
}

// section {
//   font-size: 40rem;
// }

#containerX #stearinlys {
  background-color: general.$bg-color;
  width: 100vw;
  scroll-snap-align: end;
  height: 35vh;
}

.stearincon {
  width: 100vw;
  // background-color: general.$bg-color;
  background-color: general.$bg-color;
  display: flex;
  justify-content: center;
  height: 35vh;
}

#containerX #stearin {
  width: 70vw;
  position: relative;
  top: 12vw;
}

.lampecon {
  width: 100vw;
  background-color: general.$bg-color;
  display: flex;
  justify-content: center;
  height: 35vh;
}

#containerX .lampescene {
  width: 70vw;
  position: relative;
  top: 12vw;
}

.arbejdecon {
  width: 100vw;
  background-color: general.$bg-color;
  display: flex;
  justify-content: center;
}

#containerX .arbejdescene {
  width: 70vw;
  position: relative;
  top: 12vw;
}

.timescon {
  width: 100vw;
  background-color: general.$bg-color;
  display: flex;
  justify-content: center;
  height: 35vh;
}

#containerX .timesscene {
  width: 80vw;
  position: relative;
  top: 20vw;
}

#containerX #arbejdsdag {
  background-color: general.$bg-color;
  width: 100vw;
  scroll-snap-align: end;
  height: 35vh;
}

#containerX #timessquare {
  background-color: general.$bg-color;
  width: 100vw;
  scroll-snap-align: end;
  height: 35vh;
}

#containerX #lampe {
  background-color: general.$bg-color;
  width: 100vw;
  scroll-snap-align: end;
  height: 35vh;
}

.lampen {
  position: relative;
  top: -29vw;
}

#containerY {
  text-align: center;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

#containerY a {
  color: white;
  font-size: 35px;
  position: relative;
  top: -55vw;
  text-decoration: none;
}

// .scenelampe {
//   height: 100vh;
// }

rect.times0 {
  fill: rgb(10, 10, 10);
  stroke: rgb(10, 10, 10);
}

.startknap {
  display: none;
}

.restart {
  color: white;
}

// TEKST

.tekst {
  color: white;
  font-size: 0.8rem;
  margin: 0;
  line-height: 1.5rem;
  z-index: 2;
}

.tekst_lys {
  width: 34vw;
  position: relative;
  bottom: 35vh;
  left: 7vw;
  display: none;
}

.tekst_lampe {
  width: 35vw;
  position: relative;
  bottom: 36vh;
  left: 58vw;
  text-align: right;
  display: none;
}

.tekst_vacum {
  width: 40vw;
  position: relative;
  bottom: 54vh;
  left: 4vw;
  display: none;
}

.tekst_skriv {
  width: 25vw;
  position: relative;
  bottom: 59vh;
  left: 70vw;
  text-align: right;
  display: none;
}

.tekst_komfur {
  width: 25vw;
  position: relative;
  bottom: 25vh;
  left: 5vw;
  display: none;
}

.tekst_times {
  width: 75vw;
  position: relative;
  top: 18vh;
  left: 14vw;
  display: none;
}

.lampeikon,
.stearinikon,
.arbejdeikon {
  height: 5vw;
  width: 5vw;
}

.trafiklys {
  height: 4vw;
  width: 4vw;
}

// ANIMATIONER

/*ZOOM OUT*/

.zoom_out {
  animation-name: zoom_out_kf;
  animation-duration: 15s;
  // animation-fill-mode: forwards;
  // animation-iteration-count: linear;
}

@keyframes zoom_out_kf {
  0% {
    transform: scale(5);
  }

  50% {
    transform: scale(0.2) translateY(0%);
  }

  100% {
    transform: scale(0.2) translateY(300%);
  }
}

/* SHAKE */

.shake {
  animation: shake-kf 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
}

@keyframes shake-kf {
  10%,
  100% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }

  30%,
  70% {
    transform: translate3d(-1px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(1px, 0, 0);
  }
}

//LIGHT//

.light {
  animation-name: light;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

ellipse.stearin20 {
  opacity: 0.37;
  fill: #0c0c0c;
}

ellipse.lampe31 {
  opacity: 0.37;
  fill: #0c0c0c;
}

#Lag_6 ellipse.times10 {
  fill: transparent;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  // animation-delay: 0.5s;
}

.blink {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}

.blinkfast {
  animation-name: blinkFast;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}

#times {
  animation-name: blinkFast;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}

#pink .times10 {
  animation-name: blinkFast;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}

#screenlight .times6 {
  animation-name: blinkColor;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}

#Lag_1 polygon.times20 {
  animation-name: blink;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}

#Lag_1 path.times22 {
  fill: general.$bg-color;
}

#Lag_1 circle.times5 {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}

#Lag_1 ellipse.times5 {
  animation-name: blinkColor;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}

#times circle.times10 {
  animation-name: blinkFast;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}

#trekant ellipse.times6 {
  animation-name: blinkFastStroke;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}

#spejl circle.times6 {
  animation-name: blinkColorRed;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}

// #screens polygon.times20,
// #screens path.times29 {
//   animation-name: blink;
//   animation-duration: 0.9s;
//   animation-iteration-count: infinite;
//   animation-delay: 0.5s;
// }

#dioder2 ellipse.times31 {
  animation-name: blinkFastGreen;
  animation-duration: 0.1s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}

#dioder ellipse.times10 {
  animation-name: blinkFastGreen;
  animation-duration: 0.1s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}

//LIGHT KEYFRAMES//

@keyframes light {
  from {
    fill: transparent;
  }
  to {
    fill: #ffe799;
  }
}

@keyframes blink {
  from {
    fill: transparent;
  }
  to {
    fill: #ffe799;
  }
}

@keyframes blinkFast {
  from {
    fill: transparent;
  }
  to {
    fill: #fcff65;
  }
}

@keyframes blinkFastGreen {
  from {
    fill: black;
  }
  to {
    fill: #00ff00;
  }
}

@keyframes blinkFastStroke {
  from {
    stroke: transparent;
  }
  to {
    stroke: #fffc3d;
  }
}

@keyframes blinkColor {
  from {
    fill: turquoise;
  }
  to {
    fill: blue;
  }
}

@keyframes blinkColorRed {
  from {
    fill: pink;
  }
  to {
    fill: hotpink;
  }
}

//PULSE//

.pulse {
  animation-name: pulse_animation;
  animation-duration: 5000ms;
  transform-origin: 70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse_animation {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.06);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.04);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

//scale in//
@keyframes scaleIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.scalein {
  animation-duration: 1s;
  animation-name: scaleIn;
}

@media screen and (min-width: 1200px) {
  #containerX #stearin {
    width: 35vw;
    position: relative;
    top: -8vw;
    margin-top: 6vw;
  }

  #containerX .timesscene,
  #containerX .arbejdescene,
  #containerX .lampescene {
    width: 35vw;
    position: relative;
    top: -8vw;
    margin-top: 6vw;
  }

  #containerX {
    height: 70vh;
  }

  #punkter {
    height: 12vh;
  }
}

.sol {
  fill: none;
}
